* {
    font-family: Sans-Serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-nav {
    z-index: 1;
}

.header-wrap {
    background-color: #efefef;
}

header {
    margin: auto;
    max-width: 1000px;
}

.content {
    display: block;
    align-self: center;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background-color: #efefef;
    z-index: 1;
}

a,
.btn-link,
.btn {
    color: #00A9A4 !important;
}

.btn.btn-primary {
    color: black !important;
    background: #00A9A4 !important;
    border-color: #00A9A4;
}

a:hover,
.btn-link:hover {
    color: #0A32A0 !important;
}

.btn.btn-primary:hover {
    background-color: #0A32A0 !important;
    border-color: #0A32A0 !important;
}

.btn.btn-primary:focus {
    background-color: #0A32A0 !important;
    border-color: #0A32A0 !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.titre {
    align-self: center;
    margin-bottom: 3vh;
    text-align: center;
}

.legende {
    color: grey;
    margin-bottom: 5vh;
}

#actualite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sitemap {
    padding: 20px;
}

.card {
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 320px;
    min-width: 200px;
    flex-grow: 1;
}

.card-image {
    max-width: 320px;
}

.map {
    margin-bottom: 4vh;
    width: 100%
}

.navbar.small {
    display: none;
    position: sticky;
}

.closeButton {
    font-size: 20px;
    color: black !important;
}

.closeButton:hover {
    color: lightgrey !important;
}

.burgerButton {
    font-size: 20px;
    margin-left: 5px;
}

.centered {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hamburger {
    cursor: pointer;
    z-index: 100;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background: black;
    transition: background-color 1s;
}

.hamburger.hamburger--squeeze.is-active .hamburger-box .hamburger-inner {
    background: white;
}

.hamburger.hamburger--squeeze.is-active .hamburger-box .hamburger-inner::after {
    background: white;
}

.hamburger.hamburger--squeeze.is-active .hamburger-box .hamburger-inner::before {
    background: white;
}

.columncont {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nocontent {
    width: 100%;
    padding: 15vh 0 15vh 0;
    display: flex;
    justify-content: center;
}


/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
}


/* Menu style */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay ul li a {
    font-size: 30px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #e3fcb1;
}


/* Effects */

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.icon {
    cursor: pointer;
}

.modal-container {
    height: auto;
    width: 320px;
}

.form-input {
    margin-top: 7px;
    margin-bottom: 7px;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

@media (max-width: 768px) {
    #id {
        display: none;
    }
    .navbar.small {
        display: flex;
    }
    .navbar.large {
        display: none;
    }
    .content {
        padding: 10px;
    }
    .content {
        margin-top: 10px;
    }
    .titre {
        margin-bottom: 1vh;
    }
    h1 {
        margin-bottom: 5px;
    }
    .header-wrap,
    header,
    .navbar,
    .navbar-section {
        position: sticky;
        left: 0px;
        top: 0px;
        z-index: 200;
    }
}

@media (max-width: 1000px) {
    .content {
        padding: 10px;
    }
}

@media (max-width: 640px) {
    .itinerance {
        display: none;
    }
}